function FindProxyForURL(url, host)
  {

      if ({% for line in proxy_pac_domains %}shExpMatch(host,"*{{ line }}") ||
          {% endfor %}shExpMatch(host,""))
          return "PROXY {{ host }}:3128";

}
