function FindProxyForURL(url, host)
  {
  
      if (shExpMatch(host,"*.ubuntu.com") ||
          shExpMatch(host,"*.google.com") ||
          shExpMatch(host,"*.ubuntu.com"))
          return "PROXY localhost:3128";
      
}
